.dashboardTableBox{
    margin-top: 100px;
}
.adminDashboardTableBox{
    margin-top: 100px;
}
.paginationWwrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.DashboardContent{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}