.jobsBanner{
    position: relative;
    overflow: hidden;
    margin-top: 75px;
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.583);
        position: absolute;
        left: 0;
        top: 0;
    }
}
.innerpageBannerText{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    h1{
        color: #fff;
        margin: 0;
    }
    p{
        color: #FF4F57;
        text-align: center;
        margin: 0;
    }
}

.searchBarWrap{
    background-color: #FF4F57;
    padding: 30px 15px;
  }
  .searchBarInnerBox{
    input{
      width: 100%;
      border: none;
      height: 100%;
      padding-left: 15px;
     // background-color: red;
    }

    select{
        width: 100%;
        border: none;
        margin-left: 10px;
    }
    a{
      width: 100%;
    }
  }
  .searchBarInnerBox{
    background-color: #fff;
    /* height: 52px; */
    padding:4px 6px 4px 18px;
    border-radius: 7px;
    .borright{
      border-right: 1px solid #e0ecf5!important;
    }
  }
  .searchBarIcons{
   display: flex;
   align-items: center;
   flex-direction: row;
    img{
        width: 20px;
        opacity: 0.6;
        position: relative;
        top: -8px;
     
    }
  }

  .sectionTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    h2{
      text-transform: uppercase;
      margin: 0;
    }
  }

  .sectionTitleWhite{
    h2{
      color: #fff;
    }
    p{
      color: #fff;
    }
}

.jobsOptions{
    width: 100%;
    padding-right: 10px;
    h3{
        font-size: 11px !important;
        margin: 0;
        margin-left: 14px;
        color: #afa9a9;
    }
}
.jobListBoxImg{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid #e4e4e4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-width: 50px !important;
  }
}
.jobListBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  clear: both;
  padding: 20px 0 0;
  transition: .4s;
  margin-top: 25px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(88,96,109,0.14);
  -webkit-box-shadow: 0 0 10px 0 rgba(88,96,109,0.14);
  -moz-box-shadow: 0 0 10px 0 rgba(88,96,109,0.14);
  align-items: center;
  margin-bottom: 12px;
  h2{
    font-size: 17px;
    margin-top: 15px;
  }
  h3{
    font-size: 17px;
    font-weight: normal;
    color: #667488;
    margin: 0;
  }
  span{
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: capitalize;
    color: #8da2b3;
    background: #f3f6fb;
    margin-top: 28px;
    margin-bottom: 29px;
    font-size: 13px;
  }
}
.jobLocationSal{
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
}
.jobLocation{
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 65%;
  align-items: center;
  padding: 8px 10px;
  border-top: 1px solid #eaeff5;
  border-right: 1px solid #eaeff5;
  justify-content: center;
  i{
    margin-right: 8px;
  }
  p{
    margin: 0;
  }
}
.jobSal{
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 35%;
  align-items: center;
  padding: 8px 10px;
  border-top: 1px solid #eaeff5;
  border-right: 1px solid #eaeff5;
  justify-content: center;
  i{
    margin-right: 8px;
  }
  p{
    margin: 0;
  }
}
.allJobs{
  border: 1px solid #edecec;
  padding: 15px;
  border-radius: 8px;
  position: relative;
  margin-top: 25px;
  box-shadow: 0 0 10px 0 rgba(88,96,109,0.14);
  -webkit-box-shadow: 0 0 10px 0 rgba(88,96,109,0.14);
  -moz-box-shadow: 0 0 10px 0 rgba(88,96,109,0.14);
  h2{
    font-size: 23px;
    color: #667488;
    text-transform: uppercase;
  }
  h3{
    font-size: 17px;
    color: #999;
  }
  h5{
    font-size: 15px;
  }
  .loacExp{
    display: flex;
    span{
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-right: 10px;
      i{
        opacity: 0.5;
        margin-right: 5px;
      }
    }
    p{ margin: 0;}
     
  
  }
}
a.applyNow {
  background: red;
  padding: 4px 12px;
  border-radius: 80px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: 16px;
  bottom: 15px;
  font-size: 14px;
}

.card{
  width: 18rem;
}
.jobLocationNew{
  display: flex;
  align-items: center;
 
  img{
    width: 15px;
    opacity: 0.5;
    margin-right: 5px;
  }
  p{
    color: #939191;
    margin: 0;
    font-size: 14px;
  }
}
.monthsAgo{
  display: flex;
  align-items: center;
  flex-direction: row;

  span{
    display: flex;
    align-items: center;
    flex-direction: row;
   
    margin: 8px 15px 8px 0;
    p{
      color: #939191;
      margin: 0;
      font-size: 14px;
    }
    img{
      width: 15px;
      opacity: 0.5;
      margin-right: 5px;
    }
  }
}
.viewDetails{
  margin-top: 18px;
  margin-bottom: 14px;
  display: inline-flex;
  border: 1px solid #FF4F57;
  padding: 8px 27px;
  border-radius: 80px;
  color: #FF4F57;
  text-decoration: none;
  font-weight: 600;
  background: none;
}

.card {
  margin-top: 25px;
}
.jobDes{ 
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  img{
    width: 16px;
    opacity: 0.5;
    margin-right: 5px;
    height: 16px;
    position: relative;
    top: 4px;
  }
  p{
    color: #939191;
    margin: 0;
    font-size: 14px;
  }
}
.popJob{
  h2{
    margin-bottom: 25px;
  }
}